*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
}
header{
    background-color: rgb(95, 227, 245);
}
header h1{
    color: white;
    text-align: center;
    padding-block: 1rem;

    text-transform: uppercase;
    font-size: 2.4rem;
} 

main{
    position: relative;
    background-image: url(img/palestra.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


section{
    height: 90%;
    width: 90%;

    background-color: rgba(255, 255, 255, 0.5);

    justify-content: center;
    align-items: center;

    display: flex;

    
}

section h2{
    font-size: 2.4rem;
}

main form{
    
    align-items: center;
    justify-content: center;

    padding-inline: 10%; 

    margin-bottom: 50px;

}

main form p{
    margin-block: 20px;
    font-size: 1.4rem
}

main form input,
select{
    all:unset;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    
    width: 90%;
    
}

main form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("img/down-arrow-circle-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;

    background-size: 2rem;
}

#enviar{
    background-color: rgb(95, 227, 245);
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
    color: aliceblue;

    font-size: 2rem;

    margin-top: 10%;
}

footer{
    background-color: rgb(0, 0, 0, 0.7);
    color: white;

    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
}

footer img{
    margin-top: 20px;
}

footer h2{
    margin-block: 20px;
}

footer p{
    width: 85%;
}

.end-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    
    main{
        justify-content: end;
    }

    section{
    height: 90%;
    width: 40%;

    margin-right: 10px;
    }

    footer{
        flex-direction: row;
        padding-bottom: 10px;

    }
    footer img{
        margin-left: 10%;
        margin-right: 20px;
    }

    .end-page{
        display: block;
        flex-direction: column;
    }
}

@media screen and (min-width: 1280px) {
    main{
        max-height: 63vh;
    }
    section h2{
        margin-top: 20px;
    }

    #enviar{
        margin-top: 10px;
    }

    footer img{
        margin-left: 30%;
        margin-right: 20px;
    }
    
    footer h2{
        margin-block: 20px;
    }

    footer p{
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    body{
        margin: auto;
        width: 80%;
        background-color: rgb(129, 128, 128);
    }
    section{
        height: 80%;
    }
    section h2{
        margin-top: 30px;

    }
    footer{
        width: 100%;
        margin-bottom: 0px;
    }
}